# Vim and Emacs autosave/backup/swap files
.*
*.orig
*~
\#*#

# generated source
colors.h

# intermediate objects
gencolors.o
ppmtoslz.o

# tool binaries
gencolors
ppmtoslz

# test images and binaries
test.ppm
testpic.asm
testpic.slz
testpic.s19

# sluzzle viewer/game binaries
sluzexec.bin
sluzexec.s19

# BASIC loader
sluzzle.bas

# diskette image
sluzzle.dsk
